---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map(p => ({
    params: { slug: p.slug },
    props: { project: p }
  }));
}

const { project } = Astro.props;
---

<BaseLayout>
  <section>
    <h1>{project.data.title}</h1>
    <p>{project.data.summary}</p>

    <img src={project.data.cover} width="100%" />

    <h3>Tech Stack</h3>
    <ul>
      {project.data.stack.map(s => <li>{s}</li>)}
    </ul>

    <article>
      <h2>Why I Built This</h2>
      <p>{project.data.why}</p>

      <h2>The Problem</h2>
      <p>{project.data.problem}</p>

      <h2>What Works</h2>
      <ul>
        {project.data.works.map(w => <li>{w}</li>)}
      </ul>

      <h2>What's Missing</h2>
      <ul>
        {project.data.missing.map(m => <li>{m}</li>)}
      </ul>
    </article>
  </section>
</BaseLayout>
