---
import Layout from "@layouts/Layout.astro";
import ProjectRow from "@components/projects/ProjectRow.astro";
import { getCollection } from "astro:content";
import BriefcaseIcon from "@icons/briefcase.astro";

const projects = await getCollection("projects");
---

<Layout title="Projects | Saransh">
  <main class="mx-auto max-w-3xl">
    <header class="pt-4 text-center">
      <div class="flex gap-6 justify-center items-center">
        <div class="h-9 w-9 text-amber-400">
          <BriefcaseIcon className="h-12 w-12" />
        </div>
        <h1 class="mt-3 text-4xl font-extrabold tracking-tight text-neutral-900">What I've been working on</h1>
      </div>
    </header>

    <section class="mt-10 space-y-8">
      {projects.map((project) => <ProjectRow title={project.data.title} description={project.data.description} href={`/projects/${project.slug}`} thumbnail={project.data.thumbnail} tags={project.data.tags} />)}
    </section>
  </main>
</Layout>
